.wrapper{
    width: 100%;
    background-color: var(--white-color);

    & .container{
        display: flex;
        gap: 20px;
        padding: 60px 0;
        margin: auto;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    & .paragraph-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;

        @media (max-width: 769px) {
            width: 100%;
            padding: 20px;
        }

        & .title{
            color: var(--primary-color);
            font-size: var(--subtile);
            text-transform: uppercase;
            font-weight: bold;
        }

        & .text{
            font-size: var(--normal-text);
            color: var(--text-color);
            line-height: 1.6;
        }
        & .quota-btn{
            font-size: var(--normal-text);
            color: var(--white-color);
            background-color: var(--black-color);
            text-decoration: none;
            cursor: pointer;
            padding: 12px 24px;
            border-radius: 4px;
            text-transform: uppercase;
            width: fit-content;
    
            &:hover{
                color: var(--primary-color);
            }
        }
    }

    & .img-container{
        width: 50%;
        display: flex;
        align-items: center;
        & img{
            max-width: 90%;
            aspect-ratio: 1.5;
            object-fit: cover;
            object-position: center;

            @media (max-width: 768px) {
                width: 100%;
                margin: auto;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .quotation-wrapper{
        background-color: var(--primary-color);

        & .quotation-container{
            padding: 40px 0;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: var(--white-color);
            text-align: center;

            & .quota-title{
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            & .quota-text{
                font-size: var(--normal-text);
                line-height: 1.6;
            }

            & .quota-btn{
                font-size: var(--normal-text);
                color: var(--white-color);
                background-color: var(--black-color);
                text-decoration: none;
                cursor: pointer;
                display: inline-block;
                padding: 12px 24px;
                border-radius: 4px;
                text-transform: uppercase;
                width: fit-content;
                margin: auto;

                &:hover{
                    color: var(--primary-color);
                }
            }
        }
    }
}